#container{
    width:        1200px;
    margin:       auto;
}
#header{
  width:          100%;
  height:         200px;
  float:          left;
  background:     green;
  text-align:     center;
}
#navbar{
  width:          100%;
  height:         40px;
  background:     white;
  clear:          both;
}
#ad{
  float:          left;
  width:          20%;
  background:     green;
}
#content{
  float:          left;
  width:          80%;
  background:     orange;
}
#blueplace{
  clear:          both;
  width:          100%;
  background:     cyan;
}
